

/* line */

.centerpart{
    margin-left: 435px;
    align-self: center;
    width: 300px ;
    height: 30px;
    position: relative;
}
.centerpart::after,.centerpart::before{
    
    content: " ";
    position: absolute;
    margin: auto;
    height: 4px;
    background:red;
    width: 35%;
    top: 50%;
}
.centerpart::after{
    left: 20px;
} 
 .centerpart::before{
    right: 20px;
}


/* header image */




.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); */

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgb(0, 0, 0); /* Fallback color */
background: rgba(0, 0, 0, 0.5); 
color: #f1f1f1;
width: 100%;
padding: 20px;

}
.hero-text button {
border: none;
outline: 0;
display: inline-block;
padding: 10px 25px;
color: black;
background-color: #ddd;
text-align: center;
cursor: pointer;
}

.hero-text button:hover {
background-color: #555;
color: white;
}

/* card button */

/* .button{
    background-color: #ddd;
} */
.Center {
    text-align: center;
    
    bottom:0px;
width: 500px;
/* height: 200px;  */
/* background: #0088cc; */
margin: auto;
/* padding: 20%; */
/* position: absolute; */
top: 80%;
/* margin-left: 200px; */
/* margin-bottom: 500px; */
margin-top: 60px;
bottom: 0;
right: 0;
padding: 0 16px;
}
   

/* about */

	  /* .line {
		  width: 20%;
    border-bottom: 3px solid gray;
} */
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

.about-section {
padding: 50px;
text-align: center;
background-color: #1e2657;
color: white;
}


/* education */
 


.education {
    padding: 50px;
    text-align: center;
}

/* navbar */

.xyxy{
    margin-right: 300px;
}



	/* body {
		background-color:  #353837
		font-family: "Poppins" sans-serif;
		font-weight: 300
	} */
	.colour{
		background-color: #353837;
	}
	ul {
		list-style: none;
		display: flex;
		margin-bottom: 0;
		margin-left: 260px;
	}
	
	.social{
		align-items: flex-end;
	}
	.social-icon {
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 14px;
		border-radius: 9px;
		margin-right: 11px;
		cursor: pointer
	}
	
	.social-twitter {
		background-color: #55acee
	}
	
	.social-facebook {
		background-color: #3b5999
	}
	
	.social-linkedin {
		background-color: #0077B5
	}
	
	.social-google {
		background-color: black
	}
	
	.social-instagram {
		background-color: #dd4b39
	}
	
	.social-icon i {
		transition: 0.4s all
	}
	
	.social-icon:hover i {
		transform: scale(1.1)
	}